#Minecraft server properties
spawn-protection=16
max-tick-time=60000
generator-settings=
force-gamemode=false
allow-nether=true
gamemode={{minecraft_gamemode}}
broadcast-console-to-ops=true
enable-query=false
player-idle-timeout=0
difficulty={{minecraft_difficulty}}
spawn-monsters=true
op-permission-level=4
pvp={{minecraft_difficulty}}
snooper-enabled=true
level-type={{minecraft_level_type}}
hardcore=false
enable-command-block={{minecraft_commandblocks}}
max-players=20
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port=25565
debug=false
server-ip=
spawn-npcs=true
allow-flight=false
level-name=world
view-distance=9
resource-pack=
spawn-animals=true
white-list=true
generate-structures=true
online-mode=true
max-build-height=256
level-seed=
prevent-proxy-connections=false
use-native-transport=true
motd={{minecraft_user}}'s server, {{server_name}}
enable-rcon=false