server {
    listen 80;
    listen [::]:80;
    server_name new.dallen.io dallen.io www.dallen.io;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;

    server_name new.dallen.io dallen.io www.dallen.io;

    ssl_certificate /etc/nginx/ssl/dallen.io_cert.pem;
    ssl_certificate_key /etc/nginx/ssl/dallen.io_key.pem;

    location / {
        root   /srv/app/DallenJS/client/build;
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 443 ssl;

    server_name api.dallen.io;

    ssl_certificate /etc/nginx/ssl/dallen.io_cert.pem;
    ssl_certificate_key /etc/nginx/ssl/dallen.io_key.pem;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass http://127.0.0.1:{{ service_port }}/;

        # Socket.IO Support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}