{
  "admin": {
    "username": "{{admin_username}}",
    "password": "{{admin_password}}"
  },
  "sqlConn": {
    "host": "localhost",
    "user": "dallenjs",
    "password": "{{mysql_password}}",
    "database": "dallenjs"
  },
  "port": {{ service_port }},
  "domain": "api.dallen.io"
}