[Unit]
Description=DallenJS
Requires=After=mysql.service

[Service]
ExecStart=/home/dallen/.nvm/versions/node/default/bin/node /srv/app/DallenJS/server/app.js
WorkingDirectory=/srv/app/DallenJS/server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dallenjs
Environment=NODE_ENV=production
User=app
Group=app

[Install]
WantedBy=multi-user.target